|===
|Field|Type|Description|Constraints|Example

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#constraints}}{{constraints}}{{/constraints}}{{/tableCellContent}}
|{{#tableCellContent}}{{#example}}{{example}}{{/example}}{{/tableCellContent}}

{{/fields}}
|===